<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title> Tech Reviews </title>
    <!-- Link to style.css -->
    <link rel = "stylesheet" href = "/styles.css">
  </head>




  <body>
   <!-- Pages -->
    <header>
        <nav>
            <ul> 
            <li><a href="/"> Home</a></li>
            <li><a href="/tech"> Tech </a></li>
            </ul>
        </nav>
    </header>
 
<main>
    <h1> Latest Tech Reviews</h1>
    <section class = "reviews">


           <% for(let i = 0; i < Tech.length;i++ ) { %>
            <div class="review-card">
<img src="<%= Tech.imageUrl %>"  alt=" <%= Tech.productName%> ">
   <!-- allows data in review to be put in HTML -->
<h2> <%= Tech[i].productName %> </h2>
<p><strong>releaseDate:</strong>   <%= Tech[i].productName %></p>
<p><strong>manufacturer:</strong>   <%= Tech[i].manufacturer %> </p>
<p><strong>price:</strong>   <%= Tech[i].price %> </p>
<p><strong>reviewRating:</strong>  <%= Tech[i].reviewRating %> </p>


   <!-- when clicked Read more it brings you to page based on the id of the Tech you picked -->

    <a href="/tech/<%= i %>">Read more</a>
        </div>
        <%  } %>

     </section>
    </main>
  </body>
</html>
