<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> Tech Reviews </title>

    <link rel = "stylesheet" href = "/styles.css">
  </head>




  <body>

    <header>
        <nav>
            <ul> 
            <li><a href="/"> Home</a></li>
            <li><a href="/tech"> All Tech Reviews</a></li>

            </ul>
        </nav>
    </header>

    <main>

        <h1> <%= productName %> </h1>
  
<img src= "<%= imageUrl %>"  alt=" <%= productName %> ">


<p><strong>releaseDate:</strong>   <%= productName %></p>
<p><strong>manufacturer:</strong>   <%= manufacturer %> </p>
<p><strong>price:</strong>   <%= price %> </p>
<p><strong>reviewRating:</strong>  <%= reviewRating %> </p>

        </div>
     </section>
    </main>
  </body>
</html>
